version: '3.8'
services:
  kafka:
    image: docker.io/bitnami/kafka:3.7
    container_name: kafka
    restart: unless-stopped
    ports:
      - "9092:9092"
      - "9094:9094"
    volumes:
      - "kafka_data:/bitnami"
    env_file:
      - env/kafka.env
    networks:
      - taskboard-net

  kafka-ui:
    image: provectuslabs/kafka-ui:v0.7.2
    container_name: kafka-ui
    ports:
      - "9093:8080"
    environment:
      - KAFKA_CLUSTERS_0_BOOTSTRAP_SERVERS=kafka:9094
      - KAFKA_CLUSTERS_0_NAME=kraft
    networks:
      - taskboard-net

volumes:
  kafka_data:
    name: kafka_data


networks:
  taskboard-net:
    external: true